body {
    background: #d6d2cc;

}

#header {
    background-color: #F5F5F5;
    font-size: 30px;
}
.icon {
    height: 15px;
    width: 15px;
    padding-top:20px;
    padding-right: 5px;
}

#footer {
    background-color: #171717;
}

#footer > p {
    color: #F5F5F5;
}

#footer > a {
    color: #48A14D;
}

#companyName {
    float:right;
    right: 0;
    margin: 20px;
}

#menu {
    margin-top: 50px;
    padding: 50px;
    display: none;
    font-size: 15px;
    text-align: center;
}

#menuBtn {
    float: left;
    margin: 20px;
}

#UsefulLinksFooter {
    padding: 20px;
}

#documents {
    float: left;
    width: 40%;
    padding: 5%;
}

#detailsAndAccountSecurity {
    float: right;
    width: 40%;
    padding: 5%;
}

#documentsList {
    background: #FFFFFF;
    width: stretch;
}

#documentsList > p {
    padding: 10px;
}