body {
    background: #d6d2cc;

}

#header {
    background-color: #F5F5F5;
    font-size: 30px;
}
.icon {
    height: 15px;
    width: 15px;
    padding-top:20px;
    padding-right: 5px;
}

#companyName {
    float:right;
    right: 0;
    margin: 20px;
}

#menu {
    margin-top: 50px;
    padding: 50px;
    display: none;
    font-size: 15px;
    text-align: center;
}

#menuBtn {
    float: left;
    margin: 20px;
}

#UsefulLinksFooter {
    padding: 20px;
}

#documents {
    float: left;
    width: 40%;
    padding: 5%;
}

#detailsAndAccountSecurity {
    float: right;
    width: 40%;
    padding: 5%;
}

#documentsList {
    background: #FFFFFF;
    width: stretch;
}

#documentsList > p {
    padding: 10px;
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}
