
@{
    ViewBag.Title = "Index";
}


<div data-role="main" class="ui-content">
    <div id="documents">
        <p>Documents</p>
        <div id="documentsList">
            <p>
                @Html.ActionLink("Get Current Orders", "GetRecords")
            </p>
            <hr>
            <hr>
            <p>@Html.ActionLink("Get Current Bills", "GetRecords")</p>
        </div>
    </div>


</div>
@*<p style="scroll-padding-top">
    @Html.ActionLink("Get Current Orders", "GetRecords")
</p>*@